
html {
    height: 100%;
    box-sizing: border-box;
}


.home-page {
    background-color: #d9d9d9;
    margin: 0;
    min-height: 100%;
}

.link {
    color: #41473b;
}

.home-page-button {
    border: none;
    cursor: pointer;
    text-transform: uppercase;
}

.articles-list__article {
    position: relative;
    bottom: 0;
    height: 300px;
}

.title {
    color: #474747;
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
}

.article__title {
    position: absolute;
    top: 150px;
}

.article__subtitle {
    position: absolute;
    top: 170px;
}

.header {
    background-color: #546650;
    padding-top: 30px;
}

.home-page__header {
    height: 120px;
}

.menu__item {
    float: none;
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    padding: 0 5px;
    cursor: pointer;
    background-color: transparent;
    transition: background-color 1s ease;
    height: 50px;
    line-height: 50px;
}

.menu__item:hover {
    background-color: #5d7b3c;
}

.menu__item-link {
    color: white;
    cursor: pointer;
}

.header__menu {
    float: right;
    margin-top: 30px;
    margin-right: 15%;
}

.footer {
    display: inline-block;
    background-color: #4d5943;
    color: white;
}

.home-page__footer {
    height: 50px;
    line-height: 50px;
    margin-bottom: -10px;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
}

.footer__copyright {
    float: right;
    margin-right: 15%;
    margin-left: 40px;
    text-transform: uppercase;
    color: white;
}

.footer__social-links {
    float: left;
    margin-left: 150px;
    height: 45px;
    margin-top: 5px;
}

.article__read-more-button {
    background-color: #676767;
    color: white;
    padding: 5px 10px;
    display: block;
    position: absolute;
    top: 250px;
}

.article__read-more-button:hover {
    font-weight: bold;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.poster__button {
    background-color: #676767;
    color: white;
    padding: 10px;
    transition: background-color 2s ease-in-out;
}

.poster__button:hover {
    background-color: darkred;
}

.news-and-contacts {
    border-top: white 3px solid;
    padding: 0 15%;
    min-height: 200px;
    color: #474747;
}

.poster {
    padding: 10px 20px;
    border-right: #c1c1c1 1px solid;
}

.news-and-contacts__poster {
    float: left;
    width: 26.67%;
    height: 230px;
}

.poster_border_none {
    border-right: none;
}

.article {
    padding-bottom: 50px;
}

.articles-list__article {
    float: left;
    width: 25%;
}

.articles-list {
    padding: 0 15%;
}

.articles-list:after {
    content: "";
    display: table;
    clear: both;
}

.logo {
    cursor: pointer;
    padding-left: 14%;
}

.home-page__logo {
    float: left;
}

.logo__img {
    width: 400px;
}

.slogan__image {
    height: 300px;
}

.slogan__text-container {
    float: left;
    width: 400px;
    text-align: center;
    height: 250px;
    padding-top: 50px;
}

.slogan__image-container {
    overflow: hidden;
    height: 300px;
}

.slogan {
    background-color: #e9e9e9;
    margin: 20px 15% 0 15%;
    overflow: hidden;
}

.home-page__slogan {
    margin: 20px 15% 0 15%;
}

.slogan__text {
    font-weight: normal;
    font-size: 28px;
    line-height: 40px;
    color: #474747;
    font-family: Serif, serif;
}

.img_border_white {
    border: white 3px solid;
}

.img_size_s {
    max-height: 140px;
}

.what-we-offer-img {
    background: url("images/person.png") no-repeat 0 -30px;
    width: 210px;
    height: 146px;
}

.about-us {
    background: radial-gradient(ellipse at top, grey, white);
    padding: 0 15%;
    overflow: hidden;
    color: #41473b;
}

.about-us__promise {
    width: 60%;
    float: left;
    padding: 20px 0;
}

.about-us__testimonials {
    width: 30%;
    float: right;
    border-left: white 1px dotted;
    padding: 20px;
    height: 100%;
    min-height: 200px;
}

.about-us__testimonials-title {
    font-size: 22px;
    font-weight: normal;
    text-transform: uppercase;
    margin: 10px 10px 10px 0;
}

.about-us__promise-title {
    color: #41473b;
    font-weight: 400;
    margin: 10px 10px 10px 0;
    font-size: 29px;
}

.about-us__quote {
    margin: 0;
}

.articles-list_title {
    text-transform: uppercase;
    font-size: 22px;
    color: #41473b;
    font-weight: normal;
}

.footer__social-icon {
    margin-top: 10px;
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.about-us__quote-authors {
    float: right;
}


@media (max-width: 1300px) {
    .header {
        height: 150px;
    }

    .menu {
        margin-top: 0;
    }

    .article {
        padding-top: 10px;
        width: 50%;
    }
}

@media (max-width: 620px) {
    .header {
        height: 200px;
    }
}

@media (max-width: 1100px) {
    .article {
        width: 100%;
    }
}

@media (max-width: 1000px) {
    .footer {
        height: 100px;
    }

    .poster {
        width: 100%;
        height: 100%;
        border: none;
    }
}

@media (max-width: 700px) {
    .footer {
        height: 150px;
    }
}

@media (max-width: 600px) {
    .column {
        width: 100%;
        border: none;
    }
}
